/* INICIO ESTILOS BIO*/

.column1{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 2em;
    grid-gap: 5em;
    
    
  

}

.texto-bio{
    padding:5em;
    @include flex(row,space-between,center,gap);
    display: flex;
    justify-content:end;
    padding-top: 20em;
    text-align: center;
    
   

}
    

.grid-bio{
    display: grid;
    grid-template-columns:30% 50%;
    grid-template-rows: 20em 20em;
}

.grid-container-bio{
    
    .title__bio{
        font-size: 2em;
        letter-spacing: 0.2em;
        
      
        
    }

    display: grid;
    gap:1em;
    


  grid-template: 
  "header""header""header" 10em 
  "navbar""navbar""navbar" 10em
  "main""main""main"5em 
  "footer""footer""footer" 1em
  ;

    

/*INICIO MEDIA QUERIE BIO*/
@media screen and (max-width:360px){
   .texto-bio{
padding:5px;
margin-top: 20px;
width: 50%;


       
        
    }
}

/*FIN MEDIA QUERIE BIO*/


/*FIN ESTILOS BIO*/

