/*INICIO ESTILOS CONTACTO*/

.menu__link{
    font-family: "Open Sans", sans-serif;;
}

.grid-contact{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 20em;
    font-weight: bold;
}

.title__contact{
    font-size: 1.4em;
    letter-spacing: 0.2em;
    

    .parrafo-contact{
        font-size:0.7em;
        letter-spacing:0em;
        margin-top: 3.5em ;
    }
}

.contact-form{
    margin-top: 10em;
    
  
}