/*INICIO ESTILOS PORFOLIO*/


.grid-container-porf{
    

    .title__porfolio{
        font-size: 2em;
        letter-spacing: 0.2em;
        
        
    }
    
  

    display: grid;
    gap:1em;
    


  grid-template: 
  "header""header""header" 10em 
  "navbar""navbar""navbar" 10em
  "main""main""main"5em 
  "footer""footer""footer" 1em
  ;

    
}



/*FIN ESTILOS PORFOLIO*/
