/*INICIO ESTILOS STORE*/



.column2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 2em;
    grid-gap: 5em;

}

.title__store{
    font-size: 2em;
    letter-spacing: 0.2em;
    
}

.text-store{
    padding-bottom: 7em;
}

.column__img-store{
    position: relative;
    
}

.parrafo-store{
    position: absolute;
    bottom: 0;
    color:white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    width: 100%;
    margin:0;
    padding:2em;
    border-radius: 2em; 
    
    transition: all .4s ease-in-out;
    &:hover{
        transform: scale(0.9);
        transition: all .4s ease-in-out;
        text-decoration: overline;} 
        
    
    
    
}

.home_img-store{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 2em;
    background: #e0e0e0;
    box-shadow:  -20px -20px 60px #bebebe,
                 20px 20px 60px #ffffff;
   
  
}


.grid-container-store{
    
    display: grid;
    gap:1em;
    


  grid-template: 
  "header""header""header" 10em 
  "navbar""navbar""navbar" 10em
  "main""main""main"5em 
  "footer""footer""footer" 1em
  ;

    
}


/*FIN ESTILOS STORE*/